body {
    background-color: #302e2b;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  
  .squareRow {
    display: flex;
  }
  
  .square {
    width: 100px;
    height: 100px;
  }
  
  .white {
    background-color: #eeeed2;
  }
  
  .black {
    background-color: #769656;
  }
  